/**
 * General
 */

body {
  background: #fdfdfd;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 60px;
}

a {
  color: #59A80F;
}

a:hover {
  color: #468847;
  text-decoration: none;
}

hr {
  margin: 36px 0 18px 0;
}

article.span6 p,
article.span6 pre,
article.span6 ul,
article.span6 ol {
  margin: 0 0 28px;
}

article.span6 p,
article.span6 ul li,
article.span6 ol li,
article.span6 footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 28px;
}

article.span6 h1,
article.span6 h2,
article.span6 h3,
article.span6 h4,
article.span6 h5,
article.span6 h6 {
  margin-bottom: 12px;
  margin-top: 36px;
}

.tags {
  line-height: 24px;
}

/**
 * Navbar
 */

.navbar-fixed-top .navbar-inner {
  background: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.navbar .brand {
  color: #468847;
  text-shadow: none;
}

.navbar .nav > li > a {
  color: #468847;
  color: rgb(51, 51, 51);
  text-shadow: none;
  font-weight: bold;
}

.navbar .nav > li > a:hover {
  color: #468847;
  text-shadow: none;
}

.nav {
  opacity: 0.4;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.navbar:hover .nav {
  opacity: 1;
}

/**
 * Headings
 */

h1.page-header {
  margin-top: 100px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 64px;
}

h1.page-header small {
  display: block;
}

h3.page-header {
  padding-bottom: 6px;
}

/**
 * Header
 */

header.container {
  text-align: center;
  padding: 120px 0 102px;
}

header.container h1 {
  font-size: 52px;
  line-height: 0.4em; /* For small text */
}

h1.heading {
  margin: 0 0 40px;
}

article h1 {
  text-align: center;
  margin-bottom: 64px;
}

article h1 small {
  display: block;
  line-height: 48px;
}

article {
  margin: 0 0 24px;
}

article .tags {
  margin: 5px 0 0;
}

aside {
  margin-bottom: 40px;
}

.well {
  padding: 6px 0;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  width: 16px;
}

aside .btn-group a {
  width: 60px;
}

/**
 * Post types
 */

article.quickie h1 a {
  font-size: 20px;
}

article.quickie h1 small {
  font-size: 14px;
  line-height: 32px;
}

/**
 * Code
 */

pre {
 border: 1px solid rgba(0, 0, 0, 0.05);
}

/**
 * Reponsiveness
 */

@media screen and (max-width: 768px) {
  header.container {
    padding: 20px 0 36px;
  }
}

@media screen and (min-width: 968px) {
  .container .nav-collapse {
    float: right;
  }
}

@media screen and (min-width: 1200px) {
  .contact,
  .nav .nav-header.contact {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    display: inline;
  }

  aside .btn-group {
    display: none;
  }
}
