/**
 * General
 */

body {
  background: #fdfdfd;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 60px;
}

a {
  color: #59A80F;
}

a:hover {
  color: #468847;
  text-decoration: none;
}

hr {
  margin: 36px 0 18px 0;
}

#social {
  margin: 0;
  text-align: center;
}

#social a {
	display: inline-block;
  margin: 8px 3px;
  opacity: 0.2;
}

#social a:hover {
  opacity: 1;
}

article.span6 p,
article.span6 pre,
article.span6 ul,
article.span6 ol {
  margin: 0 0 28px;
}

article.span6 p,
article.span6 ul li,
article.span6 ol li,
article.span6 footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

article.span6 h1,
article.span6 h2,
article.span6 h3,
article.span6 h4,
article.span6 h5,
article.span6 h6 {
  margin-bottom: 12px;
  margin-top: 36px;
  text-align: center;
}

article.span6 h2 {
  font-weight: normal;
  font-size: 24px;
}

.tags {
  line-height: 24px;
}

/**
 * Images
 */

figure {
  display: inline-block;
  float: none;
  margin: 38px auto 32px;
}

.align-right { 
  float: right;
  margin: 4px -36px 16px 32px;
}

.align-left { 
  float: left;
  margin: 4px 32px 16px -36px;
}

.bordered img {
  border: 1px solid #ccc;
}

.rounded img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

figcaption {
  color: #999;
  font-size: 12px;
  padding: 3px 5px;
  text-align: left;
}

/**
 * Navbar
 */

.navbar-fixed-top
{
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 5px #eee;
}

.navbar .nav,
.navbar .nav > li {
  margin-right: 0;
}

.navbar .nav > li {
  color: #666;
  padding: 10px 0 11px;
  font-size: 13px;
}

.navbar .nav-collapse {
  float: right;
}

.navbar-fixed-top .navbar-inner {
  background: white;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: none;
  border-bottom: 1px solid #d3d3d3;
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
}

.navbar .brand {
  color: #000;
  text-shadow: none;
  font-size: 18px;
  line-height: 18px;
}

.navbar .nav > li > a {
  text-shadow: none;
  padding: 0;
  display: inline-block;
  color: #59A80F;
}

.navbar .nav > li > a:hover {
  color: #468847;
  text-shadow: none;
}

/**
 * Headings
 */

h1 {
  font-weight: normal;
}

h1.page-header,
#comments h3 {
  width: 100%;
  font-weight: normal;
  margin-top: 100px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 64px;
  font-size: 26px;
}

h1.page-header small {
  display: block;
}

h3.page-header {
  padding-bottom: 6px;
}

.archive h1 a {
  color: #999;
}

.archive h1 a:hover {
  color: #333;
}

/**
 * Header
 */

header.container {
  text-align: center;
  padding: 150px 0 102px;
}

header.container h1 {
  font-size: 52px;
  line-height: 0.4em; /* For small text */
}

header.container h1 small {
  line-height: 26px;
}

header.container h1 {
  margin-bottom: 20px;
}


h1.heading {
  margin: 0 0 40px;
}

article h1 {
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 56px;
}

h1 small {
  display: block;
  line-height: 48px;
  font-size: 14px;
}

header h1 small {
  font-size: 16px;
}

article.span6 {
  margin: 0 0 50px;
  border-bottom: 1px solid #eee;
}

#article h1:first-child,
#article h2:first-child,
#article h3:first-child,
#article h4:first-child,
#article h5:first-child,
#article h6:first-child {
  margin-top: 0;
}

.span6.offset3 {
  margin-left: 170px;
  width: 600px;
}

.row {
  margin-left: 0;
}

#article {
  text-align: center;
}

#article p,
#article footer,
#article ol,
#article ul,
#article dl {
  text-align: left;
}

article:last-of-type {
  border: none;
}

article.archive {
  border-bottom: none;
  margin-top: 105px;
}

article .tags {
  margin: 5px 0 0;
}

aside {
  margin: 40px 0;
}

.well {
  padding: 6px 0;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  width: 16px;
}

aside .btn-group a {
  width: 60px;
}

/**
 * Pages
 */

#page {
  min-height: 480px;
}

/**
 * Post types
 */

article.quickie h1 a {
  font-size: 18px;
}

article.quickie h1 small {
  font-size: 14px;
  line-height: 32px;
}

/**
 * Code
 */

pre {
 border: 1px solid rgba(0, 0, 0, 0.05);
}

code {
  color: #59A80F;
}

/**
 * Blockquote
 */

blockquote {
  margin-left: 10px;
}

article.span6 blockquote p {
  font-size: 14px;
  line-height: 22px;
  padding: 0 50px 0 0;
  color: #696969;
}

/**
 * Comments
 */

#comments {
  text-align: center;
  margin-top: 60px;
}

#disqus_thread {
  text-align: left;
}

#comments #dsq-content #dsq-comments .dsq-comment-message p {
  font-size: 13px;
  line-height: 22px;
}

#comments #dsq-content #dsq-comments .dsq-comment-message {
  padding: 0 20px 0 11px;
}

#comments .dsq-textarea-background {
  background: #fff;
}

#dsq-content .dsq-comment-actions,
#dsq-subscribe em {
  font-size: 13px;
  text-decoration: none;
}

#dsq-sort-select,
#dsq-global-toolbar,
.dsq-subscribe-rss,
.dsq-trackback-url {
  display: none;
}

#dsq-account-dropdown {
  line-height: 30px;
  position: absolute;
  top: -5px;
  right: 0;
}

#dsq-pagination {
  text-align: center;
}

#comments #dsq-content #dsq-footer {
  display: inline-block;
  margin: 2em 8px -14px 11px;
}

#comments .dsq-comment-meta a,
#comments .dsq-comment-actions a {
  color: #999;
  font-size: 12px;
}

#comments #dsq-content ul {
  margin: 0 11px;
}

#comments #dsq-content #dsq-footer li {
  margin: 0;
}
#dsq-content .dsq-post-tools li.dsq-share-on h4 {
  margin: -2px 0 0;
}

#dsq-content .dsq-attach-media .dsq-attach-media-container span {
  top: -2px;
}

#comments #dsq-content h3 {
  margin-top: 40px;
}

#comments .dsq-attach-media {
  margin-top: -4px;
}

#comments #dsq-content .dsq-attach-media .dsq-attach-media-border iframe {
  margin-top: 6px;
}

.dsq-brlink {
  font-weight: bold;
  text-transform: uppercase;
}

/**
 * Subscribe
 */

#subscribe {
  text-align: center;
}

#subscribe h1 {
  margin: 140px 0 40px;
}

#subscribe input {
  margin: 0 auto;
}

#subscribe input.span3 {
  margin-right: -1px;
}

#subscribe .input-prepend {
  display: inline-block;
  margin: 0 0 42px;
}

#subscribe p {
  font-size: 13px;
}

/**
 * Footer
 */

footer.container {
  text-align: center;
  font-size: 13px;
}

footer p {
  margin-bottom: 20px;
}

footer a img {
  width: 100px;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  -webkit-transition-delay: 0.2s;
}

footer a:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/**
 * Share box
 */

#drop-in-share {
  background: white;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #eee;
  border-right: none;
  box-shadow: 0 0 5px #eee;
  position: fixed;
  height: 28px;
  bottom: 16px;
  right: -10px;
  overflow: hidden;
}

#drop-in-share .handle {
  background: transparent url('/img/share.png') no-repeat scroll 3px center;
  background-size: 20px 20px;
  border: 1px solid #d3d3d3;
  border-right: none;
  width: 12px;
  height: 26px;
  padding: 0 0 0 24px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#drop-in-share .lrshare_iconsprite16 {
  margin-top: -5px;
}

#drop-in-share .lrshare_evenmore16,
#drop-in-share .lrshare-totalshare {
  display: none;
}

#drop-in-share:hover .handle {
  width: 108px;
}

/**
 * Responsiveness
 */

@media screen and (max-width: 480px) {
  .navbar .brand {
    width: 100%;
    text-align: center;
  }

  .navbar .navbar-collapse {
    display: none;
  }

  article figure,
  article img {
    display: none;
  }

  #article ul,
  #article ol,
  #article dl {
    list-style-position: inside;
  }
}

@media screen and (max-width: 960px) {
  header.container {
    padding: 105px 0 102px;
  }

  #social a {
    opacity: 1;
  }

  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 90%;
  }
 
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 90%;
  }

  .span8.offset2 {
    margin-left: 0;
    width: 100%;
  }

  .span6.offset3 {
    margin-left: 0;
    width: 100%;
  }

  [class*="span"] {
    margin-left: 0;
  }

  #drop-in-share {
    display: none;
  }
}
