@import url('reset.css');
@import url('fonts.css');

/**
 * Main styles
 */

html {
  background: #FBFCED;
}

body {
  margin: 0 80px 80px;
  width: 640px;
  font-size: 1.2em;
  font-family: Prociono, Georgia, serif;
  line-height: 1.45em;
  letter-spacing: 0.02em;
}

pre {
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0 0 1.8em;
  padding: 0 1.8em;
  white-space: pre-wrap;
}
a:link,
a:visited,
a:active,
a:focus {
  color: #4B7023;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1em;
}

h1 {
  text-transform: lowercase;
  font-family: LeagueGothic, Helvetica, sans-serif;
  font-size: 2.5em;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  text-decoration: none;
}

header[role="banner"] {
  margin: 0 0 100px 0;
  line-height: 0.6em;
}

header[role="banner"] section a:link,
header[role="banner"] section a:visited,
header[role="banner"] section a:focus,
header[role="banner"] section a:active {
  color: #fff;
  text-shadow: 1px 2px 0 #222222;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header[role="banner"] section a:hover {
  color: #000;
  text-shadow: 1px 2px 0 #fff;
}

header[role="banner"] h1 {
  margin: -25px 0 40px -35px;
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

header[role="banner"] h1 b {
  display: block;
  font-size: 0.6em;
  margin: 0 0 -35px -25px;
  color: #000;
  text-shadow: none;
}

header[role="banner"] section {
  float: left;
  margin: 0 0 100px;
}

header[role="banner"] section .photo {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 7px 6px 0 #59A80F;
  -webkit-box-shadow: 7px 6px 0 #59A80F;
  box-shadow: 7px 6px 0 #59A80F;
  background: url("images/me.png") no-repeat scroll left top white;
  border: 2px solid #000;
  float: left;
  height: 164px;
  padding: 0;
  position: relative;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 165px;
}

header[role="banner"] section p {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 1px 2px 0 #000;
  -webkit-box-shadow: 1px 2px 0 #000;
  box-shadow: 1px 2px 0 #000;
  background: #FF0F95;
  color: #fff;
  float: left;
  font-family: LeagueGothic;
  font-size: 1.2em;
  line-height: 1.05em;
  margin: 25px 0 0 50px;
  padding: 14px 18px 10px;
  position: relative;
  text-transform: uppercase;
  width: 310px;
}

header[role="banner"] section p:after {
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FF0F95;
  top: 47px; /* controls vertical position */
  left: -30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width: 15px 30px 15px 0;
  border-style: solid;
  border-color: transparent #FF0F95;
}

section[role="main"] {
  clear: both;
  /*font-size: 0.8em;*/
}

h1 time {
  display: block;
}

article {
  margin: 0 0 4em;
}

article h1 {
  font-size: 2.6em;
}

section[role="main"] article:nth-of-type(2) h1 {
  font-size: 2.5em;
}

section[role="main"] article:nth-of-type(3) h1 {
  font-size: 2.4em;
}

section[role="main"] article:nth-of-type(4) h1 {
  font-size: 2.3em;
}

section[role="main"] article:nth-of-type(5) h1 {
  font-size: 2.2em;
}

section[role="main"] article:nth-of-type(6) h1 {
  font-size: 2.1em;
}

section[role="main"] article:nth-of-type(7) h1 {
  font-size: 2.0em;
}

section[role="main"] article:nth-of-type(8) h1 {
  font-size: 1.9em;
}

section[role="main"] article:nth-of-type(9) h1 {
  font-size: 1.8em;
}

section[role="main"] article:nth-of-type(10) h1 {
  font-size: 1.7em;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  color: #59A80F;
}

article h2 {
  font-size: 1.3em;
  margin: 1.6em 0 0.5em;
}

article h3 {
  margin: 1.6em 0 0.5em;
}

article h4 {
  font-weight: normal;
  text-decoration: underline;
  margin: 1.6em 0 0.5em;
}

p {
  margin-bottom: 1.45em;
}

article header p {
  font-size: 0.8em;
  margin-top: 2px;
}

footer ul {
  list-style: none;
}

/* Comments */

aside {
  margin: 75px 0 0;
}

#comments:target {
  display: block;
}

#comments {
  display: none;
}

body > a[href="#comments"] {
  display: block;
  margin: 60px 0;
  opacity: 0.25;
}

/* Disqus */

#comments h3 {
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

/* IntenseDebate */

body #idc-container .idc-trackbacks,
body #idc-container .idc-comments {
    margin: 0 0 5em;
}

body #idc-container div.idc-text_noresize,
body #idc-container textarea.idc-text_noresize,
body #idc-container .idc-text {
  background: #fff;
  padding: 5px 3px;
}

body #idc-container .idc-c-m .idc-form-info {
  font-style: normal;
}

body #idc-container.idc .idc-c-b {
  margin-top: 75px;
}

body #idc-container div h3,
body #idc-container div h3 span {
  font-weight: bold;
}