@import url('reset.css');
@import url('fonts.css');

/**
 * Main styles
 */

html {
  background: #E9E9CD; /*#f0f0d4*/;
}

body {
  font-size: 1.2em;
  font-family: Prociono, Georgia, serif;
  line-height: 1.45em;
  letter-spacing: 0.02em;
}

pre {
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0 0 1.8em;
  padding: 0 1.8em;
  white-space: pre-wrap;
}
a:link,
a:visited,
a:active,
a:focus {
  color: #4B7023;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1em;
}

h1 {
  text-transform: uppercase;
  font-family: LeagueGothic, Helvetica, sans-serif;
  font-size: 2.5em;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  text-decoration: none;
}

header[role="banner"] {
  line-height: 0.6em;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

header[role="banner"] #header-wrapper {
  background: #222; /*#FF0F95;*/
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 1;
}

header[role="banner"]:after {
  border-bottom: 1px solid #eee;
  display: block;
  position: fixed;
  content: "";
  width: 100%;
  height: 100px;
  margin: -100px 0 0 0;
  background: transparent;
  -moz-box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2), 0 50px 100px #E9E9CD, 0 20px 50px #E9E9CD; /*#59A80F;*/
  -webkit-box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2), 0 50px 100px #E9E9CD, 0 20px 50px #E9E9CD; /*#59A80F;*/
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2), 0 50px 100px #E9E9CD, 0 20px 50px #E9E9CD; /*#59A80F;*/
}

header[role="banner"] section a:link,
header[role="banner"] section a:visited,
header[role="banner"] section a:focus,
header[role="banner"] section a:active,
header[role="banner"] nav a:link,
header[role="banner"] nav a:visited,
header[role="banner"] nav a:focus,
header[role="banner"] nav a:active {
  color: #fff;
  text-shadow: 1px 2px 0 #222;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header[role="banner"] section a:hover,
header[role="banner"] nav a:hover {
  color: #FF0F95;
  text-shadow: 1px 2px 0 #222;
}

header[role="banner"] h1 {
  color: #4B7023;
  margin: -40px 0 0 35px;
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
  text-transform: lowercase;
  z-index: 100;
  position: relative;
}

header[role="banner"] h1 a:link,
header[role="banner"] h1 a:visited,
header[role="banner"] h1 a:active,
header[role="banner"] h1 a:focus {
  color: #FF0F95;
  text-shadow: 1px 2px 0 #000;
}

header[role="banner"] h1 a:hover {
  color: #fff;
}

header[role="banner"] h1 b {
  display: block;
  font-size: 0.6em;
  margin: 0 0 -35px -25px;
  color: #fff;
  text-shadow: none;
}

header[role="banner"] nav {
  display: inline-block;
  margin: 0 35px 0 0;
  z-index: 200;
  position: relative;
}

header[role="banner"] li,
header[role="banner"] section {
  line-height: 1.05em;
  font-family: LeagueGothic;
  text-transform: uppercase;
  font-size: 1.2em;
}

header[role="banner"] .photo {
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 20px #111;
  -webkit-box-shadow: 0 0 20px #111;
  box-shadow: 25px -30px 0 rgba(0, 0, 0, 0.35), 35px 35px 0 rgba(0, 0, 0, 0.3), -55px 10px 0 rgba(0, 0, 0, 0.15);
  background: url("images/me.png") no-repeat scroll left top white;
  border: 1px solid #000;
  height: 164px;
  padding: 0;
  position: relative;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 165px;
  z-index: 100;
}

header[role="banner"] section {
  color: #fff;
  display: inline-block;
  margin: 25px 10px 0 50px;
  padding: 14px 18px 0;
  width: 310px;
  position: relative;
  z-index: 100;
}

header[role="banner"] section p {
  margin: 0 0 22px;
}

section[role="main"] {
  padding: 300px 0 0;
  margin: 0 0 0 80px;
  width: 32em;
}

h1 time {
  display: block;
  font-size: 0.7em;
  line-height: 0.8em;
}

article {
  margin: 0 0 4em;
}

.base article {
  margin: 0 0 2em;
}

article h1 {
  font-size: 2.6em;
}

.base article h1 {
  font-size: 2em;
  letter-spacing: 0.01em;
}

.base aside {
  float: left;
  font-family: LeagueGothic;
  font-size: 3.9em;
  line-height: 62px;
  margin: 0 0 10px;
  text-align: center;
  width: 50px;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  color: #59A80F;
  text-shadow: 1px 1px 0 #fff;
}

h1 a:hover {
  text-shadow: 1px 1px 0 #000;
}

article h2 {
  font-size: 1.3em;
  margin: 1.6em 0 0.5em;
}

article h3 {
  margin: 1.6em 0 0.5em;
}

article h4 {
  font-weight: normal;
  text-decoration: underline;
  margin: 1.6em 0 0.5em;
}

p {
  margin-bottom: 1.8em;
}

article p {
  font-size: 0.95em;
  line-height: 1.5em;
  text-shadow: 0 2px 0 #fff;
}

article header p {
  font-size: 0.8em;
  margin-top: -3px;
}

article .thumb-right {
  float: right;
  margin: 10px 0 10px 20px;
}

article .thumb-left {
  float: left;
}

article .thumb-right img,
article .thumb-left img {
  display: block;
}

article .small {
  width: 175px;
}

article .medium {
  width: 250px;
}

article .large {
  width: 400px;
}

article .thumb-right a,
article .thumb-left a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  display: block;
  margin: 0;
  padding: 7px;
  text-decoration: none;
}

article .thumb-right a:hover,
article .thumb-left a:hover {
  border: 1px solid #59A80F;
}

footer ul {
  list-style: none;
}

blockquote {
  background: #444;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 0.85em;
  margin: 0 50px 0 -80px;
}

blockquote p {
  color: #FFFFFF;
  line-height: 1.6em;
  padding: 18px 40px 18px 35px;
  text-shadow: 0 2px 0 #000000;
}

blockquote > p > a:link,
blockquote > p > a:active,
blockquote > p > a:visited,
blockquote > p > a:focus {
  color: #fff;
}

/* Comments */

aside {
  margin: 75px 0 0 80px;
  width: 32em;
}

#comments:target {
  display: block;
}

body > a[href="#comments"] {
  display: block;
  margin: 60px 0;
  opacity: 0.25;
}

/* Disqus */

#comments h3 {
  font-size: 1.3em;
  margin-bottom: 0.6em;
}

/* IntenseDebate */

body #idc-container .idc-trackbacks,
body #idc-container .idc-comments {
    margin: 0 0 5em;
}

body #idc-container div.idc-text_noresize,
body #idc-container textarea.idc-text_noresize,
body #idc-container .idc-text {
  background: #fff;
  padding: 5px 3px;
}

body #idc-container .idc-c-m .idc-form-info {
  font-style: normal;
}

body #idc-container.idc .idc-c-b {
  margin-top: 75px;
}

body #idc-container div h3,
body #idc-container div h3 span {
  font-weight: bold;
}

body .dsq-brlink {
  display: none;
}

body #dsq-content .dsq-item-trackback {
  display: none;
}

body #dsq-content .dsq-item-sort {
  display: none;
}

body #dsq-content .dsq-attach-media {
  display: none;
}

/* Cats page */

#cats {
  width: 800px;
}

#cats > a {
  background: #fff;
  border: 15px solid #fff;
  display: inline-block;
  margin: 30px 30px 0 0;
  overflow: hidden;
  width: 120px;
}

#cats img {
  display: block;
  margin: 0;
  width: 120px;
}