/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/**
 * Minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* Always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ol { list-style-type: decimal; }
ul, ol, li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* Webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* Make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


 
@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('fonts/goudybookletter1911-webfont.eot');
	src: local('☺'), url('fonts/goudybookletter1911-webfont.woff') format('woff'), url('fonts/goudybookletter1911-webfont.ttf') format('truetype'), url('fonts/goudybookletter1911-webfont.svg#webfontDXjc4KWX') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothic';
	src: url('fonts/leaguegothic-webfont.eot');
	src: local('☺'), url('fonts/leaguegothic-webfont.woff') format('woff'), url('fonts/leaguegothic-webfont.ttf') format('truetype'), url('fonts/leaguegothic-webfont.svg#webfontsLgfR0bS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merge';
	src: url('fonts/merge-webfont.eot');
	src: local('☺'), url('fonts/merge-webfont.woff') format('woff'), url('fonts/merge-webfont.ttf') format('truetype'), url('fonts/merge-webfont.svg#webfontoxmRohIb') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Prociono';
	src: url('fonts/prociono-webfont.eot');
	src: local('☺'), url('fonts/prociono-webfont.woff') format('woff'), url('fonts/prociono-webfont.ttf') format('truetype'), url('fonts/prociono-webfont.svg#webfontfsb8o6D7') format('svg');
	font-weight: normal;
	font-style: normal;
}







/**
 * Main styles
 */

html {
  background: #FBFCED;
}

body {
  margin: 0 80px 80px;
  width: 640px;
  font-size: 1.2em;
  font-family: Prociono, Georgia, serif;
  line-height: 1.45em;
  letter-spacing: 0.02em;
}

pre {
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 0 0 1.8em;
  padding: 0 1.8em;
  white-space: pre-wrap;
}
a:link,
a:visited,
a:active,
a:focus {
  color: #4B7023;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1em;
}

h1 {
  text-transform: lowercase;
  font-family: LeagueGothic, Helvetica, sans-serif;
  font-size: 2.5em;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  text-decoration: none;
}

header[role="banner"] {
  margin: 0 0 100px 0;
  line-height: 0.6em;
}

header[role="banner"] section a:link,
header[role="banner"] section a:visited,
header[role="banner"] section a:focus,
header[role="banner"] section a:active {
  color: #fff;
  text-shadow: 1px 2px 0 #222222;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header[role="banner"] section a:hover {
  color: #000;
  text-shadow: 1px 2px 0 #fff;
}

header[role="banner"] h1 {
  margin: -25px 0 40px -35px;
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

header[role="banner"] h1 b {
  display: block;
  font-size: 0.6em;
  margin: 0 0 -35px -25px;
  color: #000;
  text-shadow: none;
}

header[role="banner"] section {
  float: left;
  margin: 0 0 100px;
}

header[role="banner"] section .photo {
  -moz-border-radius: 50px 100px 50px 100px;
  -webkit-border-radius: 50px 100px 50px 100px;
  border-radius: 50px 100px 50px 100px;
  -moz-box-shadow: 7px 6px 0 #59A80F;
  -webkit-box-shadow: 7px 6px 0 #59A80F;
  box-shadow: 7px 6px 0 #59A80F;
  background: url("images/me.png") no-repeat scroll left top white;
  border: 12px solid #000;
  float: left;
  height: 164px;
  padding: 0;
  position: relative;
  -moz-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  width: 165px;
}

header[role="banner"] section p {
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -moz-box-shadow: 5px 6px 0 #000;
  -webkit-box-shadow: 5px 6px 0 #000;
  box-shadow: 5px 6px 0 #000;
  background: #FF0F95;
  color: #fff;
  float: left;
  font-family: LeagueGothic;
  font-size: 1.2em;
  line-height: 1.05em;
  margin: 25px 0 0 50px;
  padding: 14px 18px 10px;
  position: relative;
  text-transform: uppercase;
  width: 310px;
}

header[role="banner"] section p:after {
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #FF0F95;
  top: 47px; /* controls vertical position */
  left: -30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width: 15px 30px 15px 0;
  border-style: solid;
  border-color: transparent #FF0F95;
}

section[role="main"] {
  clear: both;
}

h1 time {
  display: block;
}

article {
  margin: 0 0 75px;
}

article h1 {
  font-size: 2.6em;
}

section[role="main"] article:nth-of-type(2) h1 {
  font-size: 2.5em;
}

section[role="main"] article:nth-of-type(3) h1 {
  font-size: 2.4em;
}

section[role="main"] article:nth-of-type(4) h1 {
  font-size: 2.3em;
}

section[role="main"] article:nth-of-type(5) h1 {
  font-size: 2.2em;
}

section[role="main"] article:nth-of-type(6) h1 {
  font-size: 2.1em;
}

section[role="main"] article:nth-of-type(7) h1 {
  font-size: 2.0em;
}

section[role="main"] article:nth-of-type(8) h1 {
  font-size: 1.9em;
}

section[role="main"] article:nth-of-type(9) h1 {
  font-size: 1.8em;
}

section[role="main"] article:nth-of-type(10) h1 {
  font-size: 1.7em;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h1 a:focus {
  color: #59A80F;
}

article h2 {
  font-size: 1.3em;
  margin: 1.6em 0 0.5em;
}

p {
  margin-bottom: 1.45em;
}

article header p {
  font-size: 0.8em;
  margin-top: 2px;
}

footer ul {
  list-style: none;
}