<!doctype html>  
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>MrNordstrom.com - Amsterdam Web Design</title>
  
  <meta name="description" content="The website of web designer Daniel Nordstrom.">
  <meta name="author" content="Daniel Nordstrom">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://mrnordstrom.com/rss.xml">
        
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/style.css?v=0">
  <link rel="stylesheet" href="/css/syntax/emacs.css">
 
  <script src="/js/libs/modernizr-1.6.min.js"></script>
</head>

<body>