{% include head.html %}

{% include header.html %}

<header class="container">
  <h1><small>I build mesmerizing technological castles and this is where my mind leaks.</small></h1>
  
  <aside id="social">
	  <a href="http://twitter.com/mrnordstrom"><img src="/img/somicro/twitter.png" alt="Twitter"></a>
	  <a href="http://facebook.com/dnordstrom"><img src="/img/somicro/facebook.png" alt="Facebook"></a>
	  <a href="http://www.linkedin.com/in/mrnordstrom"><img src="/img/somicro/linkedin.png" alt="LinkedIn"></a>
	  <a href="http://open.spotify.com/user/d.nintera"><img src="/img/somicro/spotify.png" alt="Spotify"></a>
	  <a href="http://www.flickr.com/photos/mrnordstrom/"><img src="/img/somicro/flickr.png" alt="Flickr"></a>
	  <a href="http://dnordstrom.deviantart.com"><img src="/img/somicro/deviantart.png" alt="DeviantArt"></a>
	  <a href="https://plus.google.com/107080974694845275381"><img src="/img/somicro/gplus.png" alt="Google+"></a>
	  <a href="http://instagram.com/dnordstrom"><img src="/img/somicro/instagram.png" alt="Instagram"></a>
	  <a href="http://pinterest.com/mrnordstrom/"><img src="/img/somicro/pinterest.png" alt="Pinterest"></a>
	  <a href="http://youtube.com/dnordstrom"><img src="/img/somicro/youtube.png" alt="YouTube"></a>
	  <a href="skype:d.nintera"><img src="/img/somicro/skype.png" alt="Skype"></a>
	  <a href="/subscribe.html"><img src="/img/somicro/rss.png" alt="Subscribe"></a>
  </aside>
</header>

<div class="container">
  {{ content }}
</div>

{% include foot.html %}
